.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.new-buttons {
  background-color: #E9967A !important;
  border: 1px solid #d7dde8 !important;
}
.new-buttons:hover {
  border: 0px solid #d7dde8;
  color: #757f9a !important;
  text-decoration: underline;    
  background-color: #d7dde8 !important;
}

.ContentUnique {
  
  
  width: 100%;
  height: 100vh;
  
  padding: 50px;
  margin: auto;
  color: white;
  font-weight: bolder;
  font-size: large;
  margin-bottom: 70px;
}
